<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Foods</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="all-foods-container">
      <h1 class="all-foods-title">All Foods</h1>
      <a href="/users/<%= user._id %>/foods/new" class="add-food-link"
        >Add A New Food</a
      >

      <ul class="all-foods-list">
        <% pantry.forEach(pantry => { %>
        <li class="all-foods-item">
          <a
            href="/users/<%= user._id %>/foods/<%= pantry._id %>"
            class="all-foods-link"
          >
            <%= pantry.name %>
          </a>
        </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
